[submodule "bgfx"]
	path = bgfx
	url = git@github.com:OSDVF/bgfx.git
[submodule "bx"]
	path = bx
	url = git@github.com:bkaradzic/bx.git
[submodule "bimg"]
	path = bimg
	url = git@github.com:bkaradzic/bimg.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "SDL2"]
	path = SDL2
	url = git@github.com:OSDVF/RealisticAtmo-SDL2.git